<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Glacat</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link href="../../static/img/favicon.png" rel="icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"/>
    <link rel="stylesheet" href="../../static/fonts/icomoon/style.css"/>

    <link rel="stylesheet" href="../../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../static/css/magnific-popup.css"/>
    <link rel="stylesheet" href="../../static/css/jquery-ui.css"/>
    <link rel="stylesheet" href="../../static/css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="../../static/css/owl.theme.default.min.css"/>

    <link rel="stylesheet" href="../../static/css/aos.css"/>

    <link rel="stylesheet" href="../../static/css/style-customer-template.css"/>
</head>

<body>
<div class="site-wrap">
    <header class="site-navbar" role="banner">
        <div class="site-navbar-top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
                        <form action="" class="site-block-top-search">
                            <span class="icon icon-search2"></span>
                            <input type="text" class="form-control border-0" id="timKiemAll"
                                   placeholder="Tìm kiếm theo tên sản phẩm"/>
                            <script>
                                var inputElementTimKiemAll = document.getElementById('timKiemAll');

                                inputElementTimKiemAll.addEventListener('blur', function () {
                                    var inputValueTimKiemAll = inputElementTimKiemAll.value;
                                    console.log('Giá trị của input:', inputValueTimKiemAll);

                                    var fullUrl = window.location.origin + "/shop"

                                    if (inputValueTimKiemAll !== '') {
                                        fullUrl = updateQueryStringParameterAll('keyword', inputValueTimKiemAll, fullUrl);
                                    } else {
                                        fullUrl = removeQueryStringParameterAll('keyword', fullUrl);
                                    }

                                    window.location.href = fullUrl


                                });

                                // Hàm cập nhật giá trị của query parameter trong URL
                                function updateQueryStringParameterAll(key, value, url) {
                                    var regex = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
                                    var separator = url.indexOf('?') !== -1 ? "&" : "?";
                                    if (url.match(regex)) {
                                        return url.replace(regex, '$1' + key + "=" + value + '$2');
                                    } else {
                                        return url + separator + key + "=" + value;
                                    }
                                }

                                // Hàm xóa query parameter khỏi URL
                                function removeQueryStringParameterAll(key, url) {
                                    var urlParts = url.split('?');
                                    if (urlParts.length >= 2) {
                                        var prefix = encodeURIComponent(key) + '=';
                                        var queryString = urlParts[1].split('&');

                                        for (var i = queryString.length - 1; i >= 0; i--) {
                                            if (queryString[i].lastIndexOf(prefix, 0) !== -1) {
                                                queryString.splice(i, 1);
                                            }
                                        }

                                        url = urlParts[0] + (queryString.length > 0 ? '?' + queryString.join('&') : '');
                                    }

                                    return url;
                                }
                            </script>
                        </form>
                    </div>

                    <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
                        <div class="site-logo">
                            <a href="/home" class="js-logo-clone">Glacat</a>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 order-3 order-md-3 text-right">
                        <div class="site-top-icons">
                            <ul class="nav nav-pills" style="margin-left: 54%">
                                <li class="nav-item dropdown" th:if="${checkDangNhap=='true'}">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                                       role="button" aria-expanded="false"><span class="icon icon-person"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/user/thong-tin-khach-hang">Tài Khoản Của Tôi</a>
                                        </li>
                                        <li><a class="dropdown-item" href="/user/don-mua">Đơn Mua</a></li>
                                        <li><a class="dropdown-item" th:href="@{/logout}">Đăng Xuất</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown" th:if="${checkDangNhap=='false'}">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                                       role="button" aria-expanded="false"><span class="icon icon-person"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/login">Đăng Nhập</a></li>

                                    </ul>
                                </li>

                                <!--                                <li class="nav-item" style="margin-left: -15%">-->
                                <!--                                    <a class="nav-link" href="#"><span class="icon icon-heart-o"></span></a>-->
                                <!--                                </li>-->
                                <li class="nav-item" style="margin-top: 5%;margin-left: -5%">
                                    <a class="site-cart" href="/user/cart">
                                        <span class="icon icon-shopping_cart"></span>
                                        <span class="count" th:if="${checkDangNhap=='true'}" th:text="${soLuongSPGioHangCT}"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="site-navigation text-right text-md-center" role="navigation">
            <div class="container">
                <ul class="site-menu js-clone-nav d-none d-md-block">
                    <li>
                        <a href="/home">Trang chủ</a>
                        <!-- <ul class="dropdown">
                    <li><a href="#">Menu One</a></li>
                    <li><a href="#">Menu Two</a></li>
                    <li><a href="#">Menu Three</a></li>
                    <li class="has-children">
                      <a href="#">Sub Menu</a>
                      <ul class="dropdown">
                        <li><a href="#">Menu One</a></li>
                        <li><a href="#">Menu Two</a></li>
                        <li><a href="#">Menu Three</a></li>
                      </ul>
                    </li>
                  </ul> -->
                    </li>


                    <!-- <ul class="dropdown">
                <li><a href="#">Menu One</a></li>
                <li><a href="#">Menu Two</a></li>
                <li><a href="#">Menu Three</a></li>
              </ul> -->

                    <li><a href="/shop">Sản phẩm</a></li>
                    <li><a href="/about">Về chúng tôi</a></li>
                    <li><a href="/lien-he">Liên hệ</a></li>
                    <li><a href="/chinh-sach">Chính Sách</a></li>
                    <li><a href="/tra-cuu-don-hang">Tra Cứu Đơn Hàng</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0">
                    <a href="/home">Home</a> <span class="mx-2 mb-0">/</span>
                    <strong class="text-black">About</strong>
                </div>
            </div>
        </div>
    </div>

<!--    <div class="site-section border-bottom" data-aos="fade">-->
<!--        <div class="container">-->
<!--            <div class="row mb-5">-->
<!--                <div class="col-md-6">-->
<!--                    <div class="block-16">-->
<!--                        <figure>-->
<!--                            <img src="../../static/img/3giay.webp" alt="Image placeholder"-->
<!--                                 class="img-fluid rounded"/>-->
<!--                            <a href="https://vimeo.com/channels/staffpicks/93951774"-->
<!--                               class="play-button popup-vimeo"><span class="ion-md-play"></span></a>-->
<!--                        </figure>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-1"></div>-->
<!--                <div class="col-md-5">-->
<!--                    <div class="site-section-heading pt-3 mb-4">-->
<!--                        <h2 class="text-black">How We Started</h2>-->
<!--                    </div>-->
<!--                    <p>-->
<!--                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius-->
<!--                        repellat, dicta at laboriosam, nemo exercitationem itaque-->
<!--                        eveniet architecto cumque, deleniti commodi molestias-->
<!--                        repellendus quos sequi hic fugiat asperiores illum. Atque, in,-->
<!--                        fuga excepturi corrupti error corporis aliquam unde nostrum-->
<!--                        quas.-->
<!--                    </p>-->
<!--                    <p>-->
<!--                        Accusantium dolor ratione maiores est deleniti nihil?-->
<!--                        Dignissimos est, sunt nulla illum autem in, quibusdam cumque-->
<!--                        recusandae, laudantium minima repellendus.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <div class="site-section border-bottom" data-aos="fade">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 site-section-heading text-center pt-4">
                    <h2>Đội ngũ</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="block-38 text-center">
                        <div class="block-38-img">
                            <div class="block-38-header">
                                <img src="../../static/img/ImgShoe/adidas10_NMD_R1.jpg" alt="Image placeholder" class="mb-4"/>
                                <h3 class="block-38-heading h4">Nguyễn Tuấn Anh</h3>
                                <p class="block-38-subheading">Thành Viên</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="block-38 text-center">
                        <div class="block-38-img">
                            <div class="block-38-header">
                                <img src="../../static/img/ImgShoe/adidas10_NMD_R1.jpg" alt="Image placeholder" class="mb-4"/>
                                <h3 class="block-38-heading h4">Đỗ Quang Chiến</h3>
                                <p class="block-38-subheading">Thành Viên</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="block-38 text-center">
                        <div class="block-38-img"style="margin-top: 15%">
                            <div class="block-38-header">
                                <img src="../../static/img/ImgShoe/adidas10_NMD_R1.jpg" alt="Image placeholder" class="mb-4"/>
                                <h3 class="block-38-heading h4">Ngô Hoàng Long</h3>
                                <p class="block-38-subheading">Thành Viên</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="block-38 text-center">
                        <div class="block-38-img" style="margin-top: 15%">
                            <div class="block-38-header">
                                <img src="../../static/img/8d14ea3f-2ddf-47b8-853b-dbb66aba463b.jpg" alt="Image placeholder" class="mb-4"/>
                                <h3 class="block-38-heading h4">Đoàn Đức Thiện</h3>
                                <p class="block-38-subheading">Thành Viên</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="block-38 text-center">
                        <div class="block-38-img" style="margin-top: -30%">
                            <div class="block-38-header">
                                <img src="../../static/img/ImgShoe/adidas10_NMD_R1.jpg" alt="Image placeholder" class="mb-4"/>
                                <h3 class="block-38-heading h4">Mai Thanh Giang</h3>
                                <p class="block-38-subheading">Trưởng nhóm</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--    <div class="site-section site-section-sm site-blocks-1 border-0" data-aos="fade">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">-->
<!--                    <div class="icon mr-4 align-self-start">-->
<!--                        <span class="icon-truck"></span>-->
<!--                    </div>-->
<!--                    <div class="text">-->
<!--                        <h2 class="text-uppercase">Free Shipping</h2>-->
<!--                        <p>-->
<!--                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
<!--                            Phasellus at iaculis quam. Integer accumsan tincidunt-->
<!--                            fringilla.-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">-->
<!--                    <div class="icon mr-4 align-self-start">-->
<!--                        <span class="icon-refresh2"></span>-->
<!--                    </div>-->
<!--                    <div class="text">-->
<!--                        <h2 class="text-uppercase">Free Returns</h2>-->
<!--                        <p>-->
<!--                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
<!--                            Phasellus at iaculis quam. Integer accumsan tincidunt-->
<!--                            fringilla.-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">-->
<!--                    <div class="icon mr-4 align-self-start">-->
<!--                        <span class="icon-help"></span>-->
<!--                    </div>-->
<!--                    <div class="text">-->
<!--                        <h2 class="text-uppercase">Customer Support</h2>-->
<!--                        <p>-->
<!--                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
<!--                            Phasellus at iaculis quam. Integer accumsan tincidunt-->
<!--                            fringilla.-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <footer class="site-footer border-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="footer-heading mb-4">Điều hướng</h3>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <ul class="list-unstyled">
                                <li><a href="#">Vận chuyển</a></li>
                                <li><a href="#">Khu vực</a></li>
                                <li><a href="#">Kênh bán hàng</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <ul class="list-unstyled">
                                <li><a href="/about">Đội ngũ</a></li>
                                <li><a href="/chinh-sach">Trả hàng</a></li>
                                <li><a href="#">Bảo mật</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <ul class="list-unstyled">
                                <li><a href="/lien-he">Liên hệ</a></li>
                                <li><a href="/lien-he">Chăm sóc khách hàng</a></li>
                                <li><a href="/lien-he">Phản hồi</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                    <h3 class="footer-heading mb-4">Mẫu mã</h3>
                    <a href="/shop" class="block-6">
                        <img src="../../static/img/hero_1.jpg" alt="Image placeholder"
                             class="img-fluid rounded mb-4"/>
                        <h3 class="font-weight-light mb-0">
                            Tìm đôi giày hoàn hảo của bạn
                        </h3>
                    </a>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="block-5 mb-5">
                        <h3 class="footer-heading mb-4">Thông tin liên lạc</h3>
                        <ul class="list-unstyled">
                            <li class="address">
                                13 P. Trịnh Văn Bô, Xuân Phương, Nam Từ Liêm, Hà Nội, Việt Nam
                            </li>
                            <li class="phone">
                                <a href="tel://23923929210">+84 377 463 664</a>
                            </li>
                            <li class="email">glacatshopshoes@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
<script src="../../static/js/jquery-3.3.1.min.js"></script>
<script src="../../static/js/jquery-ui.js"></script>
<script src="../../static/js/popper.min.js"></script>

<script src="../../static/js/owl.carousel.min.js"></script>
<script src="../../static/js/jquery.magnific-popup.min.js"></script>
<script src="../../static/js/aos.js"></script>

<script src="../../static/js/main.js"></script>
</body>

</html>