<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <title>Glacat</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link href="../../static/img/favicon.png" rel="icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"/>
    <link rel="stylesheet" href="../../static/fonts/icomoon/style.css"/>


    <link href="../../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../../../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../../../static/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="../../../static/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="../../../static/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../../../static/vendor/simple-datatables/style.css" rel="stylesheet">


    <link rel="stylesheet" href="../../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../static/css/magnific-popup.css"/>
    <link rel="stylesheet" href="../../static/css/jquery-ui.css"/>
    <link rel="stylesheet" href="../../static/css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="../../static/css/owl.theme.default.min.css"/>

    <link rel="stylesheet" href="../../static/css/aos.css"/>

    <link rel="stylesheet" href="../../static/css/style-customer-template.css"/>
</head>

<body>
<script src="../../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<div class="site-wrap">
    <header class="site-navbar" role="banner">
        <div class="site-navbar-top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
                        <form action="" class="site-block-top-search">
                            <span class="icon icon-search2"></span>
                            <input type="text" class="form-control border-0" placeholder="Search"/>
                        </form>
                    </div>

                    <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
                        <div class="site-logo">
                            <a href="/home" class="js-logo-clone">Glacat</a>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 order-3 order-md-3 text-right">
                        <div class="site-top-icons">
                            <ul class="nav nav-pills" style="margin-left: 54%">
                                <li class="nav-item dropdown" >
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                                       role="button" aria-expanded="false"><span class="icon icon-person"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="/thong-tin-khach-hang">Tài Khoản Của Tôi</a>
                                        </li>
                                        <li><a class="dropdown-item" href="/don-mua">Đơn Mua</a></li>
                                        <li><a class="dropdown-item" th:href="@{/logout}">Đăng Xuất</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item" style="margin-left: -15%">
                                    <a class="nav-link" href="#"><span class="icon icon-heart-o"></span></a>
                                </li>
                                <li class="nav-item" style="margin-top: 5%;margin-left: -5%">
                                    <a class="site-cart" href="/cart">
                                        <span class="icon icon-shopping_cart"></span>
                                        <span class="count" th:text="${soLuongSPGioHangCT}"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="site-navigation text-right text-md-center" role="navigation">
            <div class="container">
                <ul class="site-menu js-clone-nav d-none d-md-block">
                    <li>
                        <a href="/home">Trang chủ</a>
                        <!-- <ul class="dropdown">
                  <li><a href="#">Menu One</a></li>
                  <li><a href="#">Menu Two</a></li>
                  <li><a href="#">Menu Three</a></li>
                  <li class="has-children">
                    <a href="#">Sub Menu</a>
                    <ul class="dropdown">
                      <li><a href="#">Menu One</a></li>
                      <li><a href="#">Menu Two</a></li>
                      <li><a href="#">Menu Three</a></li>
                    </ul>
                  </li>
                </ul> -->
                    </li>
                    <!-- <li>
                  <a href="about.html">Về chúng tôi</a>
                  <ul class="dropdown">
                <li><a href="#">Menu One</a></li>
                <li><a href="#">Menu Two</a></li>
                <li><a href="#">Menu Three</a></li>
              </ul>
                </li> -->
                    <li><a href="/shop">Sản phẩm</a></li>
                    <li><a href="contact.html">Liên hệ</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0">
                    <a href="/home">Home</a> <span class="mx-2 mb-0">/</span>
                    <strong class="text-black">Contact</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="max-width: 90%">
        <div class="row">
            <div class="col-md-2">
                <aside id="sidebar" class="sidebar">

                    <ul class="sidebar-nav" id="sidebar-nav">

                        <li class="nav-item">
                            <a class="nav-link " data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                                <i class="bi bi-person-fill"></i><span>Tài khoản của tôi</span><i
                                    class="bi bi-chevron-down ms-auto"></i>
                            </a>
                            <ul id="components-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
                                <li>
                                    <a href="/thong-tin-khach-hang" class="active">
                                        <i class="bi bi-circle"></i><span>Hồ Sơ</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/dia-chi">
                                        <i class="bi bi-circle"></i><span>Địa Chỉ</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/doi-mat-khau">
                                        <i class="bi bi-circle"></i><span>Đổi Mật Khẩu</span>
                                    </a>
                                </li>
                            </ul>
                        </li><!-- End Components Nav -->

                        <li class="nav-item">
                            <a class="nav-link collapsed" href="/don-mua">
                                <i class="bi bi-receipt-cutoff"></i>
                                <span>Đơn Mua</span>
                            </a>
                        </li><!-- End Forms Nav -->




                    </ul>
                </aside><!-- End Sidebar-->
            </div>

            <div class="col-md-10" style="background-color: white">
                <h4 style="margin-top: 2%">Hồ Sơ Của Tôi</h4>
                <p>Quản lý thông tin hồ sơ để bảo mật tài khoản</p>
                <form class="row g-3" style="width: 80%;margin: auto;margin-top: 5%"
                      th:action="@{/thong-tin-khach-hang/update}" th:object="${khachHang}" method="post">
                    <div class="row mb-3">
                        <input type="hidden" th:field="*{id}">
                        <input type="hidden" th:field="*{trangThai}">
                        <input type="hidden" th:field="*{ngayTao}">
                        <input type="hidden" th:field="*{matKhau}">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Tên đăng nhập</label>
                        <div class="col-sm-9">
                            <input type="text" th:field="*{tenTaiKhoan}" class="form-control" id="inputEmail3" readonly>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword3" class="col-sm-3 col-form-label">Tên</label>
                        <div class="col-sm-9">
                            <input type="text" th:field="*{hoVaTen}" class="form-control" id="inputPassword3">
                            <span class="check-loi" th:errors="*{hoVaTen}"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputEmail5" class="col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9">
                            <input type="email" th:field="*{email}" class="form-control" id="inputEmail5">
                            <span class="check-loi" th:errors="*{email}"></span>
                            <span class="check-loi" th:text="${checkEmailTrung}"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword6" class="col-sm-3 col-form-label">Số điện thoại</label>
                        <div class="col-sm-9">
                            <input type="text" th:field="*{soDienThoai}" class="form-control" id="inputPassword6">
                            <span class="check-loi" th:errors="*{soDienThoai}"></span>
                        </div>
                    </div>
                    <fieldset class="row mb-3">
                        <label class="col-sm-3 col-form-label">Giới tính</label>
                        <div class="col-sm-9">
                            <div style="margin-left: 4%;margin-top: 1%">
                                <input class="form-check-input" type="radio" th:field="*{gioiTinh}" name="gioiTinh"
                                       id="gridRadios1"
                                       value="0" checked>
                                <label class="form-check-label" for="gridRadios1">
                                    Nam
                                </label>
                                <input class="form-check-input" type="radio" th:field="*{gioiTinh}" name="gioiTinh"
                                       id="gridRadios2"
                                       style="margin-left: 5%"
                                       value="1">
                                <label class="form-check-label" for="gridRadios2" style="margin-left: 9%">
                                    Nữ
                                </label>
                                <span class="check-loi" th:errors="*{gioiTinh}"></span>
                            </div>
                        </div>
                    </fieldset>
                    <div class="row mb-3">
                        <label for="inputPassword4" class="col-sm-3 col-form-label">Ngày sinh</label>
                        <div class="col-sm-9">
                            <input type="date" class="form-control" th:field="*{ngaySinh}" id="inputPassword4">
                            <span class="check-loi" th:errors="*{ngaySinh}"></span>
                            <span class="check-loi" th:text="${checkNgaySinh}"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col" style="margin-left: 50%;margin-top: 5%;margin-bottom: 10%">
                            <button type="submit" class="btn btn-primary">Lưu</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>


    <footer class="site-footer border-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="footer-heading mb-4">Navigations</h3>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <ul class="list-unstyled">
                                <li><a href="#">Sell online</a></li>
                                <li><a href="#">Features</a></li>
                                <li><a href="#">Shopping cart</a></li>
                                <li><a href="#">Store builder</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <ul class="list-unstyled">
                                <li><a href="#">Mobile commerce</a></li>
                                <li><a href="#">Dropshipping</a></li>
                                <li><a href="#">Website development</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <ul class="list-unstyled">
                                <li><a href="#">Point of sale</a></li>
                                <li><a href="#">Hardware</a></li>
                                <li><a href="#">Software</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                    <h3 class="footer-heading mb-4">Promo</h3>
                    <a href="#" class="block-6">
                        <img src="../../static/img/hero_1.jpg" alt="Image placeholder"
                             class="img-fluid rounded mb-4"/>
                        <h3 class="font-weight-light mb-0">
                            Finding Your Perfect Shoes
                        </h3>
                        <p>Promo from nuary 15 &mdash; 25, 2019</p>
                    </a>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="block-5 mb-5">
                        <h3 class="footer-heading mb-4">Contact Info</h3>
                        <ul class="list-unstyled">
                            <li class="address">
                                203 Fake St. Mountain View, San Francisco, California, USA
                            </li>
                            <li class="phone">
                                <a href="tel://23923929210">+2 392 3929 210</a>
                            </li>
                            <li class="email">emailaddress@domain.com</li>
                        </ul>
                    </div>

                    <div class="block-7">
                        <form action="#" method="post">
                            <label for="email_subscribe" class="footer-heading">Subscribe</label>
                            <div class="form-group">
                                <input type="text" class="form-control py-4" id="email_subscribe"
                                       placeholder="Email"/>
                                <input type="submit" class="btn btn-sm btn-primary" value="Send"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;


                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        All rights reserved | This template is made with
                        <i class="icon-heart" aria-hidden="true"></i> by
                        <a href="https://colorlib.com" target="_blank" class="text-primary">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>

<script src="../../static/js/jquery-3.3.1.min.js"></script>
<script src="../../static/js/jquery-ui.js"></script>
<script src="../../static/js/popper.min.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/owl.carousel.min.js"></script>
<script src="../../static/js/jquery.magnific-popup.min.js"></script>
<script src="../../static/js/aos.js"></script>

<script src="../../static/js/main.js"></script>
</body>

</html>

</html>