<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Glacat</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../../../static/img/favicon.png" rel="icon">
    <link href="../../../static/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../../../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../../../static/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="../../../static/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="../../../static/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../../../static/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../../../static/css/style.css" rel="stylesheet">


</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="../ban-hang-admin.html" class="logo d-flex align-items-center">
            <img src="../../../static/img/logo.png" alt="">
            <span class="d-none d-lg-block">Glacat</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->


</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link collapsed" href="../ban-hang-admin.html">
                <i class="bi bi-grid"></i>
                <span>Bán Hàng</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link " data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Danh Sách Sản Phẩm</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/admin/san-pham-chi-tiet">
                        <i class="bi bi-circle"></i><span>Sản Phẩm Chi Tiết</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/san-pham" class="active">
                        <i class="bi bi-circle"></i><span>Sản Phẩm</span>
                    </a>
                </li>
                <li>
                    <a href="../thuong_hieu/thuong-hieu.html">
                        <i class="bi bi-circle"></i><span>Thương Hiệu</span>
                    </a>
                </li>
                <li>
                    <a href="../loai_de/loai-de.html">
                        <i class="bi bi-circle"></i><span>Loại Đế</span>
                    </a>
                </li>
                <li>
                    <a href="../mau_sac/mau-sac.html">
                        <i class="bi bi-circle"></i><span>Màu Sắc</span>
                    </a>
                </li>
                <li>
                    <a href="../kich_co/kich-co.html">
                        <i class="bi bi-circle"></i><span>Kích Cỡ</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Components Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="../hoa-don.html">
                <i class="bi bi-envelope"></i>
                <span>Hóa Đơn</span>
            </a>
        </li><!-- End Forms Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-layout-text-window-reverse"></i><span>Quản Lý Tài Khoản</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="../nhan_vien/nhan-vien.html">
                        <i class="bi bi-circle"></i><span>Quản lý nhân viên</span>
                    </a>
                </li>
                <li>
                    <a href="../khach_hang/khach-hang.html">
                        <i class="bi bi-circle"></i><span>Quản lý khách hàng</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Tables Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="../voucher/voucher.html">
                <i class="bi bi-envelope"></i>
                <span>Quản Lý Voucher</span>
            </a>
        </li><!-- End Icons Nav -->
    </ul>
</aside><!-- End Sidebar-->

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Quản lý sản phẩm</h1>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <!-- sản phẩm -->
                        <form action="" style="margin-top: 2%">
                            <label class="col-sm-5 col-form-label">Nhập tên sản phẩm:</label>
                            <div class="row mb-3">
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                               placeholder="Tìm kiếm theo tên sản phẩm">
                                        <a th:href="@{/admin/san-pham}" class="btn btn-primary"><i
                                                class="bi bi-arrow-clockwise"></i></a>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <button type="submit" class="btn btn-primary" style="margin-left:35%;">Tìm
                                        kiếm
                                    </button>
                                </div>
                                <div class="col-sm-2">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            style="float: right; "
                                            data-bs-target="#them-san-pham">
                                        Thêm mới
                                    </button>
                                </div>
                            </div>
                            <div class="search-trang-thai" style="margin-top: 4%;margin-bottom: 4%;">
                                <label style="margin-left:15%;">Trạng thái:</label>
                                <input class="form-check-input" type="radio" name="gridRadios" value="option1"
                                       style="margin-left:10%;">
                                <label class="form-check-label">
                                    Tất cả
                                </label>

                                <input class="form-check-input" type="radio" name="gridRadios" value="option1"
                                       style="margin-left:5%;">
                                <label class="form-check-label">
                                    Đang hoạt động
                                </label>

                                <input class="form-check-input" type="radio" name="gridRadios" value="option1"
                                       style="margin-left:5%;">
                                <label class="form-check-label">
                                    Ngừng hoạt động
                                </label>
                            </div>
                        </form>

                        <!-- Modal thêm sản phẩm -->
                        <div class="modal" id="them-san-pham" tabindex="-1"
                             aria-labelledby="them-san-phamLabel"
                             aria-hidden="true">
                            <!--js bật modal khi check-->
                            <script th:if="${checkModal=='modal'}">
                                window.addEventListener('DOMContentLoaded', (event) => {
                                    // Hiển thị modal
                                    var myModal = new bootstrap.Modal(document.getElementById('them-san-pham'));
                                    myModal.show();
                                });
                            </script>
                            <!--js bật modal khi check-->

                            <div class="modal-dialog">
                                <div class="modal-content" style="width: 100%;margin: auto;">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="them-san-phamLabel">Thêm sản
                                            phẩm</h1>
                                    </div>

                                    <form th:action="@{/admin/san-pham/add}" method="post"
                                          enctype="multipart/form-data"
                                          th:object="${sanPham}">
                                        <div class="modal-body">
                                            <div class="mb-3">
                                                <label class="form-label"><span class="dau-sao">*</span>Tên Sản
                                                    Phẩm</label>
                                                <input type="text" class="form-control"
                                                       placeholder="Nhập tên giày" th:field="*{ten}">
                                                <span class="check-loi" th:errors="*{ten}"></span>
                                                <span class="check-loi" th:text="${checkTenTrung}"></span>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label"><span class="dau-sao">*</span>Thương
                                                    Hiệu</label>
                                                <select class="form-control" th:field="*{thuongHieu}">
                                                    <option th:each="thuongHieu : ${listThuongHieu}"
                                                            th:value="${thuongHieu.id}"
                                                            th:text="${thuongHieu.ten}"></option>
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label"><span class="dau-sao">*</span>Mô
                                                    Tả</label>
                                                <textarea class="form-control"
                                                          placeholder="Nhập tên thương hiệu"
                                                          th:field="*{moTa}"/>
                                                <span class="check-loi" th:errors="*{moTa}"></span>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Đóng
                                            </button>
                                            <button type="submit" class="btn btn-success">Thêm</button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <!-- Modal thêm sản phẩm end-->

                        <table>
                            <thead>
                            <tr>
                                <th>STT</th>
                                <th>Mã Sản Phẩm</th>
                                <th>Tên Sản Phẩm</th>
                                <th>Trạng Thái</th>
                                <th>Hành Động</th>
                            </tr>
                            <thead>
                            <tbody>
                            <tr th:each="sanPham,iterStat : ${listSanPham}">
                                <td th:text="${#numbers.sequence(1 + (currentPage * 5), 1 + (currentPage * 5) + 5)[__${iterStat.index}__]}"></td>
                                <td th:text="${sanPham.ma}"></td>
                                <td th:text="${sanPham.ten}"></td>
                                <td class="trangthaidkd" th:if="${sanPham.trangThai==0}">Đang kinh doanh</td>
                                <td class="trangthainkd" th:if="${sanPham.trangThai==1}">Ngừng kinh doanh</td>
                                <td>
                                    <a th:href="@{/admin/san-pham/view-update/{id}(id=${sanPham.id})}"
                                       class="btn btn-warning">
                                        <i class="bi bi-pencil-fill"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" th:href="@{/admin/san-pham/pre}">
                                        <i class="bi bi-chevron-left"></i>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" th:text="${currentPage+1}"></a></li>
                                <li class="page-item">
                                    <a class="page-link" th:href="@{/admin/san-pham/next}">
                                        <i class="bi bi-chevron-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>


                    </div>
                </div>
            </div>

        </div>
    </section>

</main><!-- End #main -->

<!--Thông báo thành công-->
<div class="toast-container position-fixed top-0 end-0 p-3">
    <script th:if="${checkThongBao=='thanhCong'}">
        // <script>
        //     function showToast() {
        //         var liveToast = new bootstrap.Toast(document.getElementById('liveToastSuccess'));
        //         liveToast.show();
        //
        //         var liveToast = new bootstrap.Toast(document.getElementById('liveToastDanger'));
        //         liveToast.show();
        //
        //         var liveToast = new bootstrap.Toast(document.getElementById('liveToastWarning'));
        //         liveToast.show();
        //     }
        //     // Show the toast when the page loads
        //     document.addEventListener('DOMContentLoaded', showToast);
        //
        window.addEventListener('DOMContentLoaded', (event) => {
            // Hiển thị modal
            var liveToast = new bootstrap.Toast(document.getElementById('liveToastSuccess'));
            liveToast.show();
        });
    </script>
    <div id="liveToastSuccess" class="toast" role="alert" aria-live="assertive" aria-atomic="true"
         style="  background-color: rgba(62, 189, 97,0.2);border:2px solid #3ebd61;  border-radius:1rem;">
        <div class="toast-body">
            <div class="row g-3">
                <div class="col-md-2">
                    <img src="../../../static/img/successful_notification.png" alt="" style="margin: auto">
                </div>
                <div class="col-md-8" style=" margin-top:6.3%">
                    <span style="
                    text-align: center;
                    font-size: 1rem; /* Kích thước phông chữ */
                    font-weight: bold; /* Độ đậm của chữ */
                    color: #3ebd61;">
                        Thành công</span>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"
                            style="font-size: 1.5rem;margin: auto"></button>
                </div>

            </div>
        </div>
    </div>
</div>
<!--Thông báo thành công end-->

<!--Thông báo cảnh báo-->
<div class="toast-container position-fixed top-0 end-0 p-3">
    <script th:if="${checkThongBao=='canhBao'}">
        // <script>
        //     function showToast() {
        //         var liveToast = new bootstrap.Toast(document.getElementById('liveToastDanger'));
        //         liveToast.show();
        //     }
        //     // Show the toast when the page loads
        //     document.addEventListener('DOMContentLoaded', showToast);
        //
        window.addEventListener('DOMContentLoaded', (event) => {
            // Hiển thị modal
            var liveToast = new bootstrap.Toast(document.getElementById('liveToastWarning'));
            liveToast.show();
        });
    </script>
    <div id="liveToastWarning" class="toast" role="alert" aria-live="assertive" aria-atomic="true"
         style=" background-color: rgba(239, 148, 0, 0.2);border:2px solid #fcca1b;  border-radius:1rem;">
        <div class="toast-body">
            <div class="row g-3">
                <div class="col-md-2">
                    <img src="../../../static/img/successful_warning.png" alt="" style="margin: auto">
                </div>
                <div class="col-md-8" style=" margin-top:6.3%">
                    <span style="
                    text-align: center;
                    font-size: 1rem; /* Kích thước phông chữ */
                    font-weight: bold; /* Độ đậm của chữ */
                    color: #fcca1b;">
                        Cảnh báo</span>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"
                            style="font-size: 1.5rem;margin: auto"></button>
                </div>

            </div>
        </div>
    </div>
</div>
<!--Thông báo cảnh báo end-->

<!--Thông báo thất bại-->
<div class="toast-container position-fixed top-0 end-0 p-3">
    <script th:if="${checkThongBao=='thaiBai'}">
        // <script>
        //     function showToast() {
        //         var liveToast = new bootstrap.Toast(document.getElementById('liveToastWarning'));
        //         liveToast.show();
        //     }
        //     // Show the toast when the page loads
        //     document.addEventListener('DOMContentLoaded', showToast);
        //
        window.addEventListener('DOMContentLoaded', (event) => {
            // Hiển thị modal
            var liveToast = new bootstrap.Toast(document.getElementById('liveToastDanger'));
            liveToast.show();
        });
    </script>
    <div id="liveToastDanger" class="toast" role="alert" aria-live="assertive" aria-atomic="true"
         style="background-color: rgb(252,134,134);border:2px solid #ff2020;border-radius:1rem;">
        <div class="toast-body">
            <div class="row g-3">
                <div class="col-md-2">
                    <img src="../../../static/img/successful_danger.png" alt="" style="margin: auto">
                </div>
                <div class="col-md-8" style=" margin-top:6.3%">
                    <span style="
                    text-align: center;
                    font-size: 1rem; /* Kích thước phông chữ */
                    font-weight: bold; /* Độ đậm của chữ */
                    color: white;">
                        Lỗi</span>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"
                            style="font-size: 1.5rem;margin: auto"></button>
                </div>

            </div>
        </div>
    </div>
</div>
<!--Thông báo thất bại end-->


<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<!--<script>-->
<!--    // Khi trang đã tải xong-->
<!--    window.addEventListener('DOMContentLoaded', (event) => {-->
<!--        // Hiển thị modal-->
<!--        var myModal = new bootstrap.Modal(document.getElementById('them-san-pham'));-->
<!--        myModal.show();-->
<!--    });-->
<!--</script>-->
<!-- Vendor JS Files -->
<script src="../../static/vendor/apexcharts/apexcharts.min.js"></script>
<script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../static/vendor/chart.js/chart.umd.js"></script>
<script src="../../static/vendor/echarts/echarts.min.js"></script>
<script src="../../static/vendor/quill/quill.min.js"></script>
<script src="../../static/vendor/simple-datatables/simple-datatables.js"></script>
<script src="../../static/vendor/tinymce/tinymce.min.js"></script>
<script src="../../static/vendor/php-email-form/validate.js"></script>
<!-- Template Main JS File -->
<script src="../../static/js/main.js"></script>
</body>

</html>