<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Glacat</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../../static/img/favicon.png" rel="icon">
    <link href="../../static/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet">

    <!--    thư viện của bảng tích hợp tìm kiếm-->
    <link rel='stylesheet' href='https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css'>
    <!--    thư viện của bảng tích hợp tìm kiếm end-->

    <!-- Vendor CSS Files -->
    <link href="../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../../static/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="../../static/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="../../static/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../../static/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../../static/css/style.css" rel="stylesheet">
    <link href="../../static/css/detail-hoa-don.css" rel="stylesheet">


</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="/ban-hang-tai-quay/hoa-don" class="logo d-flex align-items-center">
            <img src="../../static/img/logo.png" alt="">
            <span class="d-none d-lg-block">Glacat</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->


    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <span class="d-none d-md-block dropdown-toggle ps-2">Nguyễn Tuấn Anh</span>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>Nguyễn Tuấn Anh</h6>
                        <span>Nhân Viên</span>
                    </li>

                    <!--                    <li>-->
                    <!--                        <hr class="dropdown-divider">-->
                    <!--                    </li>-->

                    <!--                    <li>-->
                    <!--                        <a class="dropdown-item d-flex align-items-center" href="users-profile.html">-->
                    <!--                            <i class="bi bi-person"></i>-->
                    <!--                            <span>Thông tin của tôi</span>-->
                    <!--                        </a>-->
                    <!--                    </li>-->

                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" th:href="@{/logout}">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Đăng Xuất</span>
                        </a>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" href="/admin/thong-ke">
                <i class="bi bi-graph-up-arrow"></i>
                <span>Thống Kê</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/ban-hang-tai-quay/hoa-don">
                <i class="bi bi-shop"></i>
                <span>Bán Hàng</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>Quản Lý Sản Phẩm</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/admin/san-pham-chi-tiet">
                        <i class="bi bi-circle"></i><span>Sản Phẩm Chi Tiết</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/san-pham">
                        <i class="bi bi-circle"></i><span>Sản Phẩm</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/thuong-hieu">
                        <i class="bi bi-circle"></i><span>Thương Hiệu</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/loai-de">
                        <i class="bi bi-circle"></i><span>Loại Đế</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/mau-sac">
                        <i class="bi bi-circle"></i><span>Màu Sắc</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/kich-co">
                        <i class="bi bi-circle"></i><span>Kích Cỡ</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Components Nav -->

        <li class="nav-item">
            <a class="nav-link" href="/ban-hang-tai-quay/hoa-don/quan-ly">
                <i class="bi bi-receipt-cutoff"></i>
                <span>Quản Lý Hóa Đơn</span>
            </a>
        </li><!-- End Forms Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-person-vcard"></i><span>Quản Lý Tài Khoản</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/admin/nhan-vien">
                        <i class="bi bi-circle"></i><span>Quản lý nhân viên</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/khach-hang">
                        <i class="bi bi-circle"></i><span>Quản lý khách hàng</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Tables Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="/admin/voucher">
                <i class="bi bi-ticket-perforated-fill"></i>
                <span>Quản Lý Voucher</span>
            </a>
        </li><!-- End Icons Nav -->
    </ul>

</aside><!-- End Sidebar-->

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Detail hóa đơn</h1>

    </div><!-- End Page Title -->

    <section class="section faq">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">

                        <div class="row">
<!--                            <div class="col-md-12" th:if="${byHoaDon.trangThai==5}">-->
<!--                                <section class="section-top-dmct-don-huy">-->
<!--                                    <div class="row" th:each="lshd, iterStat : ${listLichSuHoaDon}"-->
<!--                                         th:if="${lshd.trangThai == 5}">-->
<!--                                        <div class="col-md-6">-->
<!--                                            <h4>Đã hủy đơn hàng</h4>-->
<!--                                            <span th:text="${'vào ' + lshd.ngaySua}"></span>-->
<!--                                        </div>-->
<!--                                        <div class="col-md-6">-->
<!--                                            <h6 th:text="${'Lý do: ' + lshd.ghiChu}"></h6>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </section>-->
<!--                            </div>-->

<!--                            <div class="col-md-12">-->
<!--                                <div style="width: 80%;margin: auto;margin-top: 5%;margin-bottom: 5%;">-->
<!--                                    <div class="row shop-tracking-status">-->
<!--                                        <div class="col-md-12">-->
<!--                                            <div class="well">-->
<!--                                                <div class="order-status">-->
<!--                                                    <div class="order-status-timeline">-->
<!--                                                        &lt;!&ndash; class names: c0 c1 c2 c3 and c4 &ndash;&gt;-->
<!--                                                        <div th:if="${byHoaDon.trangThai==0}"-->
<!--                                                             class="order-status-timeline-completion c0"></div>-->
<!--                                                        <div th:if="${byHoaDon.trangThai==1}"-->
<!--                                                             class="order-status-timeline-completion c1"></div>-->
<!--                                                        <div th:if="${byHoaDon.trangThai==2}"-->
<!--                                                             class="order-status-timeline-completion c2"></div>-->

<!--                                                        <div th:if="${byHoaDon.loaiHoaDon==1}">-->
<!--                                                            <div th:if="${byHoaDon.trangThai==3}"-->
<!--                                                                 class="order-status-timeline-completion c3"></div>-->
<!--                                                        </div>-->

<!--                                                        <div th:if="${byHoaDon.loaiHoaDon==2}">-->
<!--                                                            <div th:if="${listLichSuHoaDon.size()>2}">-->
<!--                                                                <div th:if="${byHoaDon.trangThai==3}"-->
<!--                                                                     class="order-status-timeline-completion c3"></div>-->
<!--                                                            </div>-->
<!--                                                            <div th:if="${listLichSuHoaDon.size()==2}">-->
<!--                                                                <div th:if="${byHoaDon.trangThai==3}"-->
<!--                                                                     class="order-status-timeline-completion c1"></div>-->
<!--                                                            </div>-->
<!--                                                        </div>-->


<!--                                                        <div th:if="${listLichSuHoaDon.size()==2}">-->
<!--                                                            <div th:if="${byHoaDon.trangThai==5}"-->
<!--                                                                 class="order-status-timeline-completion c1"></div>-->
<!--                                                        </div>-->

<!--                                                        <div th:if="${listLichSuHoaDon.size()==3}">-->
<!--                                                            <div th:if="${byHoaDon.trangThai==5}"-->
<!--                                                                 class="order-status-timeline-completion c2"></div>-->
<!--                                                        </div>-->

<!--                                                        <div th:if="${byHoaDon.trangThai==6}"-->
<!--                                                             class="order-status-timeline-completion c6"></div>-->
<!--                                                    </div>-->

<!--                                                    &lt;!&ndash; tất cả trạng thái hóa đơn - loại hóa đơn 1&ndash;&gt;-->
<!--                                                    <div th:if="${byHoaDon.loaiHoaDon==1}">-->
<!--                                                        <div th:if="${byHoaDon.trangThai!=5}">-->
<!--                                                            <div th:each="lshd, iterStat : ${listLichSuHoaDon}"-->
<!--                                                                 th:class="'image-order-status image-order-status-' +-->
<!--                                                        (${iterStat.index} == 0 ? 'new' :-->
<!--                                                        (${iterStat.index} == 1 ? 'active' :-->
<!--                                                        (${iterStat.index} == 2 ? 'intransit' :-->
<!--                                                        (${iterStat.index} == 3 ? 'delivered' :-->
<!--                                                        (${iterStat.index} == 4 ? 'completed' :-->
<!--                                                         '')))))+ ' img-circle'">-->
<!--                                                                <div class="icon"></div>-->
<!--                                                                <span class="status" th:switch="${lshd.trangThai}">-->
<!--                                                            <span th:case="0">Đã Đặt Hàng</span>-->
<!--                                                            <span th:case="1">Đã Xác Nhận</span>-->
<!--                                                            <span th:case="2">Đã Giao Cho ĐVVC</span>-->
<!--                                                            <span th:case="3">Đã Nhận Được Hàng</span>-->
<!--                                                                    &lt;!&ndash;                                                            <span th:case="4" th:text="Hoàn Trả Thành Công"></span>&ndash;&gt;-->
<!--                                                        </span>-->
<!--                                                                <span class="status-end"-->
<!--                                                                      th:text="${lshd.ngaySua}"></span>-->
<!--                                                            </div>-->

<!--                                                            &lt;!&ndash;                                                <div class="image-order-status image-order-status-new active img-circle">&ndash;&gt;-->
<!--                                                            &lt;!&ndash;                                                    <div class="icon"></div>&ndash;&gt;-->
<!--                                                            &lt;!&ndash;                                                    <span class="status">Đơn Hàng Đã Đặt</span>&ndash;&gt;-->
<!--                                                            &lt;!&ndash;                                                    <span class="status-end">01:35 21/11/2023</span>&ndash;&gt;-->
<!--                                                            &lt;!&ndash;                                                </div>&ndash;&gt;-->
<!--                                                            &lt;!&ndash;                                                <div class="image-order-status image-order-status-new active img-circle">&ndash;&gt;-->
<!--                                                            &lt;!&ndash;                                                    <div class="icon"></div>&ndash;&gt;-->
<!--                                                            &lt;!&ndash;                                                    <span class="status">Đã Đặt Hàng</span>&ndash;&gt;-->
<!--                                                            &lt;!&ndash;                                                    <span class="status-end"></span>&ndash;&gt;-->
<!--                                                            &lt;!&ndash;                                                </div>&ndash;&gt;-->
<!--                                                            &lt;!&ndash;                                                <div class="image-order-status image-order-status-active active img-circle">&ndash;&gt;-->
<!--                                                            &lt;!&ndash;                                                    <div class="icon"></div>&ndash;&gt;-->
<!--                                                            &lt;!&ndash;                                                    <span class="status">Chờ Xác Nhận</span>&ndash;&gt;-->
<!--                                                            &lt;!&ndash;                                                    <span class="status-end">01:35 21/11/2023</span>&ndash;&gt;-->
<!--                                                            &lt;!&ndash;                                                </div>&ndash;&gt;-->
<!--                                                            &lt;!&ndash;                                                <div class="image-order-status image-order-status-intransit active img-circle">&ndash;&gt;-->
<!--                                                            &lt;!&ndash;                                                    <div class="icon"></div>&ndash;&gt;-->
<!--                                                            &lt;!&ndash;                                                    <span class="status">Chờ Giao</span>&ndash;&gt;-->
<!--                                                            &lt;!&ndash;                                                    <span class="status-end">01:35 21/11/2023</span>&ndash;&gt;-->
<!--                                                            &lt;!&ndash;                                                </div>&ndash;&gt;-->
<!--                                                            &lt;!&ndash;                                                <div class="image-order-status image-order-status-delivered active img-circle">&ndash;&gt;-->
<!--                                                            &lt;!&ndash;                                                    <div class="icon"></div>&ndash;&gt;-->
<!--                                                            &lt;!&ndash;                                                    <span class="status">Đang Giao</span>&ndash;&gt;-->
<!--                                                            &lt;!&ndash;                                                    <span class="status-end">01:35 21/11/2023</span>&ndash;&gt;-->
<!--                                                            &lt;!&ndash;                                                </div>&ndash;&gt;-->
<!--                                                            &lt;!&ndash;                                                <div class="image-order-status image-order-status-completed active img-circle">&ndash;&gt;-->
<!--                                                            &lt;!&ndash;                                                    <div class="icon"></div>&ndash;&gt;-->
<!--                                                            &lt;!&ndash;                                                    <span class="status">Đơn Hàng Đã Hoàn Thành</span>&ndash;&gt;-->
<!--                                                            &lt;!&ndash;                                                    <span class="status-end">01:35 21/11/2023</span>&ndash;&gt;-->
<!--                                                            &lt;!&ndash;                                                </div>&ndash;&gt;-->
<!--                                                        </div>-->

<!--                                                    </div>-->
<!--                                                    &lt;!&ndash; tất cả trạng thái hóa đơn - loại hóa đơn 1&ndash;&gt;-->


<!--                                                    &lt;!&ndash;                                            cần check lại trạng thái lịch sử&ndash;&gt;-->
<!--                                                    &lt;!&ndash; tất cả trạng thái hóa đơn - loại hóa đơn 2&ndash;&gt;-->
<!--                                                    <div th:if="${byHoaDon.loaiHoaDon==2}">-->
<!--                                                        <div th:if="${listLichSuHoaDon.size()>2}">-->
<!--                                                            <div th:if="${byHoaDon.trangThai!=5}">-->
<!--                                                                <div th:each="lshd, iterStat : ${listLichSuHoaDon}"-->
<!--                                                                     th:class="'image-order-status image-order-status-' +-->
<!--                                                        (${iterStat.index} == 0 ? 'new' :-->
<!--                                                        (${iterStat.index} == 1 ? 'active' :-->
<!--                                                        (${iterStat.index} == 2 ? 'intransit' :-->
<!--                                                        (${iterStat.index} == 3 ? 'delivered' :-->
<!--                                                        (${iterStat.index} == 4 ? 'completed' :-->
<!--                                                         '')))))+ ' img-circle'">-->
<!--                                                                    <div class="icon"></div>-->
<!--                                                            <span class="status" th:switch="${lshd.trangThai}">-->
<!--                                                            <span th:case="0">Đã Đặt Hàng</span>-->
<!--                                                            <span th:case="1">Đã Xác Nhận</span>-->
<!--                                                            <span th:case="2">Đã Giao Cho ĐVVC</span>-->
<!--                                                            <span th:case="3">Đã Nhận Được Hàng</span>-->
<!--&lt;!&ndash;                                                            <span th:case="11">Hoàn Trả Thành Công</span>&ndash;&gt;-->
<!--                                                        </span>-->
<!--                                                                    <span class="status-end"-->
<!--                                                                          th:text="${lshd.ngaySua}"></span>-->
<!--                                                                </div>-->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                        <div th:if="${listLichSuHoaDon.size()==2}">-->
<!--                                                            <div th:if="${byHoaDon.trangThai!=5}">-->
<!--                                                                <div th:each="lshd, iterStat : ${listLichSuHoaDon}"-->
<!--                                                                     th:class="'image-order-status image-order-status-' +-->
<!--                                                        (${iterStat.index} == 0 ? 'new' :-->
<!--                                                        (${iterStat.index} == 1 ? 'activeHoanThanh' :-->
<!--                                                        ''))+ ' img-circle'">-->
<!--                                                                    <div class="icon"></div>-->
<!--                                                                    <span class="status" th:switch="${lshd.trangThai}">-->
<!--                                                            <span th:case="0">Đã Đặt Hàng</span>-->
<!--                                                            <span th:case="3">Đã Nhận Được Hàng</span>-->
<!--                                                                        &lt;!&ndash;<span th:case="4" th:text="Hoàn Trả Thành Công"></span>&ndash;&gt;-->
<!--                                                        </span>-->
<!--                                                                    <span class="status-end"-->
<!--                                                                          th:text="${lshd.ngaySua}"></span>-->
<!--                                                                </div>-->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    &lt;!&ndash; tất cả trạng thái hóa đơn - loại hóa đơn 2&ndash;&gt;-->

<!--                                                    &lt;!&ndash;trạng thái hủy&ndash;&gt;-->
<!--                                                    <div th:if="${byHoaDon.trangThai==5}">-->
<!--                                                        <div th:if="${listLichSuHoaDon.size()==2}">-->
<!--                                                            <div th:each="lshd, iterStat : ${listLichSuHoaDon}"-->
<!--                                                                 th:class="'image-order-status image-order-status-' +-->
<!--                                                        (${iterStat.index} == 0 ? 'new' :-->
<!--                                                        (${iterStat.index} == 1 ? 'cancel' :''))+ ' img-circle'">-->
<!--                                                                <div class="icon"></div>-->
<!--                                                                <span class="status" th:switch="${lshd.trangThai}">-->
<!--                                                            <span th:case="0">Đã Đặt Hàng</span>-->
<!--                                                            <span th:case="5">Đã Hủy</span>-->
<!--                                                        </span>-->
<!--                                                                <span class="status-end"-->
<!--                                                                      th:text="${lshd.ngaySua}"></span>-->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                        <div th:if="${listLichSuHoaDon.size()==3}">-->
<!--                                                            <div th:each="lshd, iterStat : ${listLichSuHoaDon}"-->
<!--                                                                 th:class="'image-order-status image-order-status-' +-->
<!--                                                        (${iterStat.index} == 0 ? 'new' :-->
<!--                                                        (${iterStat.index} == 1 ? 'active' :-->
<!--                                                        (${iterStat.index} == 2 ? 'cancel2' :'')))+ ' img-circle'">-->
<!--                                                                <div class="icon"></div>-->
<!--                                                                <span class="status" th:switch="${lshd.trangThai}">-->
<!--                                                            <span th:case="0">Đã Đặt Hàng</span>-->
<!--                                                            <span th:case="1">Đã Xác Nhận</span>-->
<!--                                                            <span th:case="5">Đã Hủy</span>-->
<!--                                                        </span>-->
<!--                                                                <span class="status-end"-->
<!--                                                                      th:text="${lshd.ngaySua}"></span>-->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    &lt;!&ndash;trạng thái hủy&ndash;&gt;-->

<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

                            <div class="col-md-12">
                                <button type="button" class="btn btn-primary">Xác nhận</button>
                                <button type="button" class="btn btn-primary">In hóa đơn</button>
                                <button type="button" class="btn btn-primary">Quay lại</button>
                                <button type="button" class="btn btn-danger">Hủy</button>
                                <button style="float: right" type="button" class="btn btn-primary">Lịch sử</button>
                            </div>

                            <div class="col-md-12">
                                <section class="section-mid">
                                    <div class="ngan-cach"></div>

                                    <div class="row">

                                        <div class="col-md-6">
                                            <h3 class="label-thong-tin">Thông tin đơn hàng: HD012</h3>
                                        </div>
                                        <div class="col-md-6">
                                            <button type="button" style="float: right;margin-right: 5%"
                                                    data-bs-toggle="modal" data-bs-target="#doiThongTinHD"
                                                    class="btn btn-primary">Thay đổi
                                            </button>
                                            <!-- Modal -->
                                            <div class="modal fade" id="doiThongTinHD" tabindex="-1"
                                                 aria-labelledby="doiThongTinHDLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="doiThongTinHDLabel">Thay
                                                                đổi thông tin</h1>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form id="formDoiThongTinHD" class="row g-3">
                                                                <div class="col-md-6">
                                                                    <label for="inputEmail4" class="form-label">
                                                                        <span class="dau-sao">*</span> Tên khách
                                                                        hàng:</label>
                                                                    <input type="text" class="form-control"
                                                                           id="inputEmail4"
                                                                           placeholder="Nhập tên khách hàng...">
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <label for="inputPassword4" class="form-label">
                                                                        <span class="dau-sao">*</span>Số điện
                                                                        thoại:</label>
                                                                    <input type="text" class="form-control"
                                                                           placeholder="Nhập số điện thoại..."
                                                                           id="inputPassword4">
                                                                </div>
                                                                <div class="col-4">
                                                                    <label class="form-label">
                                                                        <span class="dau-sao">*</span>Tỉnh/Thành
                                                                        Phố</label>
                                                                    <select class="form-select">
                                                                        <option selected>Open this select menu</option>
                                                                        <option value="1">One</option>
                                                                        <option value="2">Two</option>
                                                                        <option value="3">Three</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-4">
                                                                    <label class="form-label">
                                                                        <span class="dau-sao">*</span>Quận/Huyện</label>
                                                                    <select class="form-select">
                                                                        <option selected>Open this select menu</option>
                                                                        <option value="1">One</option>
                                                                        <option value="2">Two</option>
                                                                        <option value="3">Three</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-4">
                                                                    <label class="form-label">
                                                                        <span class="dau-sao">*</span>Xã/Phường</label>
                                                                    <select class="form-select">
                                                                        <option selected>Open this select menu</option>
                                                                        <option value="1">One</option>
                                                                        <option value="2">Two</option>
                                                                        <option value="3">Three</option>
                                                                    </select></div>
                                                                <div class="col-12">
                                                                    <label for="exampleFormControlTextarea1"
                                                                           class="form-label">
                                                                        <span class="dau-sao">*</span>Ghi chú:</label>
                                                                    <textarea class="form-control"
                                                                              id="exampleFormControlTextarea1"
                                                                              rows="3"></textarea>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="modal-footer">

                                                            <!-- Button trigger modal -->
                                                            <button type="submit" data-bs-toggle="modal"
                                                                    data-bs-target="#chonDiaChi"
                                                                    class="btn btn-primary">Chọn địa chỉ
                                                            </button>

                                                            <button type="submit" form="formDoiThongTinHD"
                                                                    class="btn btn-success">Xác nhận
                                                            </button>
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Đóng
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Modal chọn địa chỉ-->
                                            <div class="modal fade" id="chonDiaChi" tabindex="-1"
                                                 aria-labelledby="chonDiaChiLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="chonDiaChiLabel">Địa
                                                                chỉ</h1>
                                                        </div>
                                                        <div class="modal-body">
                                                            <table class="sanpham-table">
                                                                <thead>
                                                                <tr>
                                                                    <th scope="col">#</th>
                                                                    <th scope="col">First</th>
                                                                    <th scope="col">Last</th>
                                                                    <th scope="col">Handle</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr>
                                                                    <th scope="row">1</th>
                                                                    <td>Mark</td>
                                                                    <td>Otto</td>
                                                                    <td>@mdo</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">2</th>
                                                                    <td>Jacob</td>
                                                                    <td>Thornton</td>
                                                                    <td>@fat</td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="submit" data-bs-toggle="modal"
                                                                    data-bs-target="#doiThongTinHD"
                                                                    class="btn btn-primary">Quay lại
                                                            </button>
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Đóng
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Modal chọn địa chỉ end-->

                                        </div>

                                        <div class="col-md-6" style="margin-top: 2%">
                                            <p><span class="info-label">Tên khách hàng:</span> <span class="info-value">Nguyễn Tuấn Anh</span>
                                            </p>
                                            <p><span class="info-label">Số điện thoại:</span> <span class="info-value">0377463664</span>
                                            </p>
                                            <p><span class="info-label">Địa chỉ:</span> <span class="info-value">số 1, Dị Nậu, Thạch Thất, Hà Nội</span>
                                            </p>
                                            <p><span class="info-label">Ghi chú:</span> <span
                                                    class="info-value">ok</span></p>
                                        </div>
                                        <div class="col-md-6" style="margin-top: 2%">
                                            <p><span class="info-label">Trạng thái:</span> <span
                                                    class="info-value-trang-thai">Chờ xác nhận</span></p>
                                            <p><span class="info-label">Loại:</span> <span class="info-value-loai-hd">Online</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="ngan-cach"></div>
                                </section>

                            </div>

                            <div class="col-md-12">
                                <section class="section-bottom-deatail">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4 style="font-weight: bold;">Thông tin sản phẩm đã mua</h4>
                                            <table id="example" class="display" style="width:100%">
                                                <thead>
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Tên</th>
                                                    <th>Trạng Thái</th>
                                                    <th>Hành Động</th>
                                                </tr>
                                                <thead>
                                                <thead>
                                                <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>2</td>
                                                    <td class="trangthaidkd">Đang kinh doanh</td>
                                                    <!--                                                    <td class="trangthainkd" >Ngừng kinh doanh</td>-->
                                                    <td>
                                                        <a href=""
                                                           class="btn btn-warning">
                                                            <i class="bi bi-pencil-fill"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                                <tfoot hidden="hidden">
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Tên</th>
                                                    <th>Trạng Thái</th>
                                                    <th>Hành Động</th>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="row" style="margin-top: 3%">
                                        <div class="col-md-6">
                                        </div>
                                        <div class="col-md-6">
                                            <p><span class="info-label">Tổng tiền hàng:</span> <span class="info-value">200000 VND</span>
                                            </p>
                                            <p><span class="info-label">Phí vận chuyển:</span> <span class="info-value">36000 VND</span>
                                            </p>
                                            <p><span class="info-label">Voucher giảm:</span> <span class="info-value">10000 VND</span>
                                            </p>
                                            <p><span class="info-label">Tổng tiền thanh toán:</span> <span
                                                    class="info-value">200000 VND</span>
                                            </p>
                                        </div>
                                    </div>

                                </section>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->
<script src="../../static/js/banHangValid.js"></script>
<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        <!-- &copy; Copyright <strong><span>Glacat</span></strong>. All Rights Reserved -->
    </div>
    <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
        Website bán giày Glacat
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!--    thư viện của bảng tích hợp tìm kiếm-->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.js'></script>
<script>
    $(document).ready(function () {
        var table = $('#example').DataTable({
            "language": {
                "info": "Hiển thị _START_ đến _END_ trong tổng số _TOTAL_ kết quả",
                "emptyTable": "Không có kết quả nào được tìm thấy",
                "zeroRecords": "Không có kết quả phù hợp",
                "infoEmpty": "Không có dữ liệu để hiển thị"
            },
            "initComplete": function (settings, json) {
                // CSS changes
                $('#example_filter input[type="search"]').addClass('form-control');
                $('#example_filter input[type="search"]').attr('placeholder', 'Tìm kiếm');
                $('#example_filter label').contents().filter(function () {
                    return this.nodeType === 3;
                }).replaceWith(' ');

                $('#example_length label').contents().filter(function () {
                    return this.nodeType === 3;
                }).first().replaceWith('Hiển thị');
                $('#example_length label').contents().filter(function () {
                    return this.nodeType === 3;
                }).last().replaceWith('mục');

                $('#example_length select').addClass('form-select');
            }
        });

        table.on('draw.dt', function () {
            var pageInfo = table.page.info();

            var newInfo = 'Hiển thị ' + pageInfo.start + ' đến ' + pageInfo.end + ' trong tổng số ' + pageInfo.recordsDisplay + ' kết quả';
            $('#example_info').html(newInfo);

        });
    });
</script>
<style>
    /*input tìm kiếm*/
    #example_filter input[type="search"] {
        width: 180%;
        margin-left: -80%;
        margin-bottom: 10%;
    }

    /*select hiển thị mục*/
    .dataTables_length label {
        white-space: nowrap; /* Ngăn các phần tử xuống dòng */
        display: flex; /* Hiển thị label và select trên cùng một dòng */
        align-items: center; /* Canh chỉnh label và select theo chiều dọc */
    }

    .dataTables_length select {
        margin-left: 5px; /* Tạo khoảng cách giữa label và select */
    }

    .dataTables_length label:after {
        /* Sử dụng pseudo-element :after để ẩn văn bản cuối cùng */
        content: ''; /* Xóa nội dung */
    }
</style>
<!--    thư viện của bảng tích hợp tìm kiếm end-->
<!-- Vendor JS Files -->

<script src="../../static/vendor/apexcharts/apexcharts.min.js"></script>
<script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../static/vendor/chart.js/chart.umd.js"></script>
<script src="../../static/vendor/echarts/echarts.min.js"></script>
<script src="../../static/vendor/quill/quill.min.js"></script>
<script src="../../static/vendor/simple-datatables/simple-datatables.js"></script>
<script src="../../static/vendor/tinymce/tinymce.min.js"></script>
<script src="../../static/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="../../../static/js/main-off.js"></script>
</body>

</html>