<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Glacat</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../../static/img/favicon.png" rel="icon">
    <link href="../../static/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../../static/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="../../static/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="../../static/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../../static/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../../static/css/style.css" rel="stylesheet">


</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="/ban-hang-tai-quay/home" class="logo d-flex align-items-center">
                <img src="../../static/img/logo.png" alt="">
                <span class="d-none d-lg-block">NiceAdmin</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->


    </header><!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link collapsed" href="/ban-hang-tai-quay/home">
                    <i class="bi bi-grid"></i>
                    <span>Bán Hàng</span>
                </a>
            </li><!-- End Dashboard Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-menu-button-wide"></i><span>Quản Lý Sản Phẩm</span><i
                        class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/admin/san-pham-chi-tiet">
                            <i class="bi bi-circle"></i><span>Sản Phẩm Chi Tiết</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/san-pham">
                            <i class="bi bi-circle"></i><span>Sản Phẩm</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/thuong-hieu">
                            <i class="bi bi-circle"></i><span>Thương Hiệu</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/loai-de">
                            <i class="bi bi-circle"></i><span>Loại Đế</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/mau-sac">
                            <i class="bi bi-circle"></i><span>Màu Sắc</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/kich-co">
                            <i class="bi bi-circle"></i><span>Kích Cỡ</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End Components Nav -->

            <li class="nav-item">
                <a class="nav-link" href="hoa-don.html">
                    <i class="bi bi-envelope"></i>
                    <span>Hóa Đơn</span>
                </a>
            </li><!-- End Forms Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-layout-text-window-reverse"></i><span>Quản Lý Tài Khoản</span><i
                        class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/admin/nhan-vien">
                            <i class="bi bi-circle"></i><span>Quản lý nhân viên</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/khach-hang">
                            <i class="bi bi-circle"></i><span>Quản lý khách hàng</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End Tables Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="/admin/voucher">
                    <i class="bi bi-envelope"></i>
                    <span>Quản Lý Voucher</span>
                </a>
            </li><!-- End Icons Nav -->
        </ul>

    </aside><!-- End Sidebar-->

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Quản lý hóa đơn</h1>

        </div><!-- End Page Title -->

        <section class="section faq">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <ul class="nav nav-tabs nav-justified mb-3" id="ex1" role="tablist" style="margin-top: 3%;">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" id="ex3-tab-1" data-bs-toggle="tab" href="#ex3-tabs-1"
                                        role="tab" aria-controls="ex3-tabs-1" aria-selected="true">
                                        Chờ xác nhận
                                        <span class="cart">
                                            <span class="cart__count">5</span>
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="ex3-tab-2" data-bs-toggle="tab" href="#ex3-tabs-2"
                                        role="tab" aria-controls="ex3-tabs-2" aria-selected="false">
                                        Chờ giao
                                        <span class="cart">
                                            <span class="cart__count">5</span>
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="ex3-tab-3" data-bs-toggle="tab" href="#ex3-tabs-3"
                                        role="tab" aria-controls="ex3-tabs-3" aria-selected="false">
                                        Chờ thanh toán
                                        <span class="cart">
                                            <span class="cart__count">5</span>
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="ex3-tab-4" data-bs-toggle="tab" href="#ex3-tabs-4"
                                        role="tab" aria-controls="ex3-tabs-4" aria-selected="false">
                                        Đang giao
                                        <span class="cart">
                                            <span class="cart__count">5</span>
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="ex3-tab-5" data-bs-toggle="tab" href="#ex3-tabs-5"
                                        role="tab" aria-controls="ex3-tabs-5" aria-selected="false">
                                        Hoàn thành
                                        <span class="cart">
                                            <span class="cart__count">5</span>
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="ex3-tab-6" data-bs-toggle="tab" href="#ex3-tabs-6"
                                        role="tab" aria-controls="ex3-tabs-6" aria-selected="false">
                                        Hủy
                                        <span class="cart">
                                            <span class="cart__count">5</span>
                                        </span>
                                    </a>
                                </li>
                            </ul>

                            <div class="tab-content" id="ex2-content">
                                <div class="tab-pane fade show active" id="ex3-tabs-1" role="tabpanel"
                                    aria-labelledby="ex3-tab-1">
                                    <label class="col-sm-5 col-form-label" style="margin-top: 2%;">Nhập tên khách hàng,
                                        số điện thoại:</label>
                                    <div class="row mb-3">
                                        <div class="col-sm-10">
                                            <div class="input-group">
                                                <input type="text" class="form-control"
                                                    placeholder="Tìm kiếm hóa đơn theo tên khách hàng, số điện thoại">
                                                <button type="submit" class="btn btn-primary"><i
                                                        class="bi bi-arrow-clockwise"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <button type="submit" class="btn btn-primary" data-bs-toggle="modal"
                                                style="float: right;">
                                                Tìm kiếm
                                            </button>
                                        </div>
                                    </div>
                                    <table class="sanpham-table" style="margin-top: 3%;">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <input class="form-check-input" type="checkbox" value="">
                                                </th>
                                                <th scope="col">STT</th>
                                                <th scope="col">Mã Hóa Đơn</th>
                                                <th scope="col">Khách Hàng</th>
                                                <th scope="col">Sô Điện Thoại</th>
                                                <th scope="col">Nhân Viên</th>
                                                <th scope="col">Tổng Tiền(VNĐ)</th>
                                                <th scope="col">Ngày Mua</th>
                                                <th scope="col">Thao Tác</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <input class="form-check-input" type="checkbox" value="">
                                                </td>
                                                <td>1</td>
                                                <td>HD1</td>
                                                <td>Anh</td>
                                                <td>0377463664</td>
                                                <td>Nguyễn Tuấn Anh</td>
                                                <td>2.000.000</td>
                                                <td>11/01/2023</td>
                                                <td>
                                                    <!-- Button trigger modal -->
                                                    <button type="button" class="btn btn-info" data-bs-toggle="modal"
                                                        data-bs-target="#cho-xac-nhan">
                                                        <i class="bi bi-eye-fill"></i>
                                                    </button>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>

                                    <!-- Modal hóa đơn chờ-->
                                    <div class="modal fade" id="cho-xac-nhan" tabindex="-1"
                                        aria-labelledby="cho-xac-nhanLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="cho-xac-nhanLabel">Modal title</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    ...
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Đóng</button>
                                                    <button type="button" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal hóa đơn chờ end-->

                                    <div style="float: right;">
                                        <button type="button" class="btn btn-success">
                                            <i class="bi bi-check-circle-fill"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger">
                                            <i class="bi bi-x-circle-fill"></i>
                                        </button>
                                    </div>
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination">
                                            <li class="page-item">
                                                <a class="page-link" href="#">
                                                    <i class="bi bi-chevron-left"></i>
                                                </a>
                                            </li>
                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item">
                                                <a class="page-link" href="#">
                                                    <i class="bi bi-chevron-right"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="tab-pane fade" id="ex3-tabs-2" role="tabpanel" aria-labelledby="ex3-tab-2">
                                    Chờ giao
                                </div>
                                <div class="tab-pane fade" id="ex3-tabs-3" role="tabpanel" aria-labelledby="ex3-tab-3">
                                    Chờ thanh toán
                                </div>
                                <div class="tab-pane fade" id="ex3-tabs-4" role="tabpanel" aria-labelledby="ex3-tab-4">
                                    Đang giao
                                </div>
                                <div class="tab-pane fade" id="ex3-tabs-5" role="tabpanel" aria-labelledby="ex3-tab-5">
                                    Hoàn thành
                                </div>
                                <div class="tab-pane fade" id="ex3-tabs-6" role="tabpanel" aria-labelledby="ex3-tab-6">
                                    Hủy
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="../../static/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/vendor/chart.js/chart.umd.js"></script>
    <script src="../../static/vendor/echarts/echarts.min.js"></script>
    <script src="../../static/vendor/quill/quill.min.js"></script>
    <script src="../../static/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="../../static/vendor/tinymce/tinymce.min.js"></script>
    <script src="../../static/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="../../static/js/main.js"></script>

</body>

</html>